@model PrimeMarket.Models.SubCategory
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
<h2>تفاصيل</h2>

<div>
    <h4>منتج فرعى</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>المنتج الفرعى
            @*@Html.DisplayNameFor(model => model.SubCategory1)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategory1)
        </dd>

        <dt>الصور
            @*@Html.DisplayNameFor(model => model.ImagePath)*@
        </dt>

        <dd>
            @if (Model.ImagePath != "")
            {

            <img src="~/img/categories/@Html.DisplayFor(model => model.ImagePath)" style="height:200px;width:200px;"  name="subcatimage" onmouseover = "subcatimage.width = '500'; subcatimage.height = '400';"
    onmouseout = "subcatimage.width = '150'; subcatimage.height = '100';" />
            }
            else
            {      
                  @Html.DisplayFor(model => model.ImagePath)
            }
</dd>

        <dt>المنتج الرئيسى
            @*@Html.DisplayNameFor(model => model.Category.Category1)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Category1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("تعديل", "Edit", new { id = Model.SubCategoryId }) |
    @Html.ActionLink("عودة للمنتجات الفرعية", "Index")
</p>
