@model PrimeMarket.Models.SubCategory

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h2>تعديل</h2>

<script type="text/javascript">
    function fileCheck(obj) {
        var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
        if ($.inArray($(obj).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            alert("Only '.jpeg','.jpg', '.png', '.gif', '.bmp' formats are allowed.");
        }
    };

    //function displyaddimg()
    //{
    //    alert('uuu');
    //    var t = document.getElementById('ImagePath');
    //    if(!t.getAttribute('visible')) 
    //        t.setAttribute('visible', true);
    //    //$("#ImagePath").show(); //  show it
    //}
//$(function(){
//    $('#btn-upload').click(function(e){
//        e.preventDefault();
//        $('#ImagePath').show();
//    }
//    );
    //});

</script>

@using (Html.BeginForm("Edit", "SubCategories", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
        <h4>منتج فرعى</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.SubCategoryId)

        <div class="form-group row">
            @Html.LabelFor(model => model.CategoryId, "منتج رئيسى", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.SubCategory1, "منتج فرعى", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SubCategory1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SubCategory1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.ImagePath, "الصور", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               
              
             @if (Model.ImagePath != null)
             {  
              <img src="~/img/categories/@Html.DisplayFor(model => model.ImagePath)" style="height:200px;width:200px;" />
              <br />@Html.EditorFor(model => model.ImagePath, new { htmlAttributes = new { @class = "form-control", @style = "display: none" } })
                <label title="To change Image">لتغيير الصورة</label>
                    @*<button  id="btn-upload"  onclick="displyaddimg"  title="Change Image"/>*@
             }
              
                <input id="ImagePath" title="تحميل صورة لمنتج فرعى"
                       type="file" name="ImagePath" onchange="fileCheck(this);" />
            
                @Html.ValidationMessageFor(model => model.ImagePath, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="تعديل" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("عودة للمنتجات الفرعية", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
