@model PrimeMarket.Models.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h2>حذف</h2>

<h3>هل انت متأكد من حذف هذا؟</h3>
<div>
    <h4>المنتج الرئيسى</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>اسم المنتج
            @*@Html.DisplayNameFor(model => model.Category1)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category1)
        </dd>

        <dt>صورة للمنتج
            @*@Html.DisplayNameFor(model => model.ImagePath)*@
        </dt>

        <dd>

            @if (Model.ImagePath != null)
            {
                <img src="~/img/categories/@Html.DisplayFor(model => model.ImagePath)" style="height:200px;width:250px;" />
                <p>
                    @Html.DisplayFor(model => model.ImagePath)
                </p>
            }
            else
            {
            @Html.DisplayFor(model => model.ImagePath)
            }
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("عودة للنتجات الرئيسية", "Index")
        </div>
    }
</div>
