@using PagedList;
@using PagedList.Mvc;
@model IPagedList<PrimeMarket.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<h2>المنتجات الرئيسية</h2>

<p>
    @Html.ActionLink("اضافة منتج رئيسى", "Create", null,new { @class = "site-btn-be" })
</p>
<table  id="categorytbl" class="disply table-responsive">
    <thead>
        <tr>
            <th>
                المنتج الرئيسى
                @*@Html.DisplayNameFor(model => model.First().Category1)*@
            </th>
            <th>
                الصور
                @*@Html.DisplayNameFor(model => model.First().ImagePath)*@
            </th>
            <th></th>
        </tr>
    </thead>
@foreach (var item in Model)
{
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category1)
            </td>
            <td>

                @if (item.ImagePath != null)
            {
            <img src="~/img/categories/@Html.DisplayFor(modelItem => item.ImagePath)" id="subcatimage" style="height:40px;width:40px;" name="subcatimage" />
                //    onmouseover = "subcatimage.width = '300'; subcatimage.height = '200';"
                //onmouseout = "subcatimage.width = '150'; subcatimage.height = '100';"
            }
            else
            {
            @Html.DisplayFor(modelItem => item.ImagePath)
            }

            </td>

            <td>
                <i class="large material-icons btn-default">
                    @Html.ActionLink("edit", "Edit", new { id = item.CategoryId }, new { @title = "تعديل ", @style = "color:gray" })
                </i>
                |
                <i class="large material-icons ">
                    @Html.ActionLink("storage", "Details", new { id = item.CategoryId }, new { @title = "تفاصيل ", @style = "color:gray" })
                </i> |
                <i class="large material-icons"> @Html.ActionLink("delete", "Delete", new { id = item.CategoryId }, new { @title = "حذف ", @style = "color:#a50303" }) </i>
                |
                @Html.ActionLink("المنتجات الفرعية", "catfilter", "SubCategories", new { CategoryId = item.CategoryId }, new { @class = "site-btn-be", @style = "font-size:10px !important; " })
            </td>
        </tr>
    </tbody>
}

</table>
@*@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))*@
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#categorytbl').DataTable({
                "language": {
                    "url": "/content/arabic.json"
                }
            });
        });
    </script>
}