@using PagedList;
@using PagedList.Mvc;
@model IPagedList<PrimeMarket.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Category1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ImagePath)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category1)
        </td>
        <td>

            @if (item.ImagePath != null)
            {
                <img src="~/img/categories/@Html.DisplayFor(modelItem => item.ImagePath)" id="subcatimage" style="height:40px;width:40px;" name="subcatimage" />
                //    onmouseover = "subcatimage.width = '300'; subcatimage.height = '200';"
                //onmouseout = "subcatimage.width = '150'; subcatimage.height = '100';"
            }
            else
            {
                @Html.DisplayFor(modelItem => item.ImagePath)
            }
            
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CategoryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CategoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId })|
            @Html.ActionLink("Sub Categories", "catfilter", "SubCategories", new { CategoryId = item.CategoryId }, htmlAttributes: null)
        </td>
    </tr>
}

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))