@model PrimeMarket.Models.CommodityImage 
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
@*@model PrimeMarket.Models.Commodity
    @model IEnumerable<PrimeMarket.Models.Commodity>*@
<h2>اضافة </h2>
<script type="text/javascript">
    function fileCheck(obj) {
        var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
        if ($.inArray($(obj).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            alert("Only '.jpeg','.jpg', '.png', '.gif', '.bmp' formats are allowed.");
        }
    };
</script>

@using (Html.BeginForm("Create", "CommodityImages", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>صورة جديدة</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group row">
            @Html.LabelFor(model => model.CommodityId, "السلعة", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CommodityId", null, htmlAttributes: new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.CommodityId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.ImagePath, "تحميل الصورة", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="ImagePath" title="تحميل صورة لسلعة"
                       type="file" name="ImagePath" onchange="fileCheck(this);"  />
                @*@Html.EditorFor(model => model.ImagePath, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.ImagePath, "", new { @class = "text-danger" })
            </div>
        </div>

     

        <div class="form-group row">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="اضافة" class="site-btn-be" />
                @Html.ActionLink("عودة لقائمة الصور ", "Index", new { CommodityId = Request["CommodityId"] }, new { @class = "site-btn-be" })
            </div>
        </div>
    </div>
}

<div>
  
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
