@using PagedList;
@using PagedList.Mvc;
@model IPagedList<PrimeMarket.Models.CommodityImage>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<h2>الصور الخاصة بالسلعة</h2>

<p>
    @Html.ActionLink("اضافة صورة جديدة ", "Create", new { CommodityId = Request["CommodityId"] },  new { @class = "site-btn-be" })
</p>
<table id="Commoditiesimgtbl" class="disply table-responsive">
    <thead>
    <tr>
       
        <th>السلعة
        
        </th>
        <th> الصورة
          
        </th>
        <th></th>
    </tr>
</thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Commodity.Title)
                </td>
                <td>
                    @if (item.ImagePath != "" && item.ImagePath!=null)
            {
            <img src="@Html.DisplayFor(modelItem => item.ImagePath)" id="commidityimage" style="height:40px;width:40px;" name="commidityimage" />
            }
            else
            {
            @Html.DisplayFor(modelItem => item.ImagePath)}
                </td>
                <td>
                    <i class="large material-icons btn-default">
                        @Html.ActionLink("edit", "Edit", new { id = item.CommodityImageId }, new { @title = "تعديل ", @style = "color:gray" })
                    </i>
                    |
                    <i class="large material-icons ">
                        @Html.ActionLink("storage", "Details", new { id = item.CommodityImageId }, new { @title = "تفاصيل ", @style = "color:gray" })
                    </i>|
                    <i class="large material-icons">
                     @Html.ActionLink("delete", "Delete", new { id = item.CommodityImageId }, new { @title = "حذف ", @style = "color:#a50303" }) </i>
                </td>

            </tr>
        }
    </tbody>
</table>
<p>@Html.ActionLink("عودة للسلع", "Index", "Commodities",null,new { @class = "site-btn-be" })</p>
@*@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))*@
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#Commoditiesimgtbl').DataTable({
                "language": {
                    "url": "/content/arabic.json"
                }
            });
        });
    </script>
}