@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>شاري | الصفحة الرئيسية</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/content/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/content/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="/content/css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="/content/css/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="/content/css/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" href="/content/css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="/content/css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="/content/css/style_ar.css" type="text/css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />
    <style>
        a.addtocart {
            cursor: pointer;
        }
        .ui-menu .ui-widget .ui-widget-content .ui-autocomplete .ui-front{
            font-size:12pt !important;
        }
    </style>
    
    <script>
        function Logout()
        {
            document.getElementById("LogoutForm").submit(); 
        }
    </script>
</head>

<body>
    <!-- Page Preloder -->
    @*<div id="preloder">
        <div class="loader"></div>
    </div>*@

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="img/logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            @Html.Partial("~/views/shared/_HeaderCartPartial.cshtml", new PrimeMarket.Models.UIViewModel.CartSummaryViewModel())
        </div>

        <div class="humberger__menu__widget">
            @*<div class="header__top__right__language">
                <img src="img/language.png" alt="">
                <div>English</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">Spanis</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </div>*@
            <div class="header__top__right__auth">
                <a href="#"><i class="fa fa-user"></i> Login</a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="/shop/index">الرئيسية</a></li>
                <li><a href="/shop/index">المنتجات</a></li>
                @*<li>
                    <a href="#">Pages</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="#">Shop Details</a></li>
                        <li><a href="#">Shoping Cart</a></li>
                        <li><a href="#">Check Out</a></li>
                        <li><a href="#">Blog Details</a></li>
                    </ul>
                </li>*@
                <li><a href="#">من نحن</a></li>
                <li><a href="#">إتصل بنا</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li>@Html.RouteLink("بيع عندنا", "Default", new { Controller = "Commodities", Action = "" })</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            @if (User.Identity.IsAuthenticated)
                            {
                                            var fullName = PrimeMarket.Models.Helper.getUserFullName(User.Identity.Name);
                            <div class="header__top__right__language">
                                <div>مرحبا: @fullName</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="/userAccount/UserOrders/?UserId=@User.Identity.GetUserId()">طلبات العملاء</a></li>
                                    <li><a href="/userAccount/MyOrders/?UserId=@User.Identity.GetUserId()">طلباتي</a></li>
                                    <li><a href="/userAccount/UserProducts/?UserId=@User.Identity.GetUserId()">منتجاتي</a></li>
                                    <li><a href="/AspNetUsers/Edit/@User.Identity.GetUserId()">حسابي</a></li>
                                </ul>
                            </div>
                            <div class="header__top__right__auth">
                                <form name="LogoutForm" id="LogoutForm" action="/Account/LogOff" method="post">
                                                                 <a onclick="Logout()" style="cursor:pointer;">
                                        <i class="fa fa-user"></i>
                                        تسجيل خروج
                                    </a>
                                </form>
                                
                            </div>
                            }
                            else
                            {
                                <div class="header__top__right__language">
                                    <a href="/Account/Login"><i class="fa fa-user"></i> تسجيل دخول</a>
                                    &nbsp;&nbsp;&nbsp;
                                    <a href="/Account/Register"><i class="fa fa-envelope"></i> حساب جديد</a>
                                   </div>
                                    <div class="header__top__right__auth">
                                    </div>
                           }


                                </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li>@Html.RouteLink("بيع عندنا", "Default", new { Controller = "Commodities", Action = "" })</li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="/shop/index"><img src="/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="/shop/index">الرئيسية</a></li>
                            <li><a href="/shop/index">المنتجات</a></li>
                            @*<li>
                                <a href="#">Pages</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="#">Shop Details</a></li>
                                    <li><a href="#">Shoping Cart</a></li>
                                    <li><a href="#">Check Out</a></li>
                                    <li><a href="#">Blog Details</a></li>
                                </ul>
                            </li>*@
                            <li><a href="#">من نحن</a></li>
                            <li><a href="#">إتصل بنا</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        @Html.Partial("~/views/shared/_HeaderCartPartial.cshtml", new PrimeMarket.Models.UIViewModel.CartSummaryViewModel())
    @*<ul>
        <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
        <li><a href="/ShoppingCart"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
    </ul>
    <div class="header__cart__price">item: <span>$150.00</span></div>*@
            </div>
                    </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>جميع الأقسام</span>
                        </div>
                        @Html.Partial("~/views/shared/_CategoriesPartial.cshtml", new PrimeMarket.Models.UIViewModel.CategoriesViewModel())
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form id="SearchForm" name="SearchForm" action="/shop/search">
                                <div class="hero__search__categories">
                                    
                                    @*<span class="arrow_carrot-down"></span>*@
                                    @*<select class="form-control">
                                        <option value="0">All Categories</option>
                                        <option value="1">Fresh Meat</option>
                                        <option value="2">Vegetables</option>
                                        <option value="3">Fruit & Nut Gifts</option>
                                        <option value="4">Fresh Berries</option>
                                    </select>*@
                                </div>
                                
                                <input id="txt_search" name="txt_search" type="text" placeholder="ما الذي تبحث عنه">
                                <button type="submit" class="site-btn">بحث</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5 dir="ltr">+201023456789</h5>
                                <span>خدمة متميزة 24/7</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
    <!-- Breadcrumb Section Begin -->
    @*<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Organi Shop</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
    <!-- Breadcrumb Section End -->
    <!-- Product Section Begin -->
    
            @RenderBody()
        
    <!-- Product Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        @*<div class="footer__about__logo">
                            <a href="/"><img src="img/logo.png" alt=""></a>
                        </div>*@
                        <ul style="font-size:14px;">
                            <li>من أجل التواصل الفعال بين البائع والمشتري نوفر لك خدمة تسويق منتجاتك.</li>
                            <li>البريد الالكتروني: info@souq-prime.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>روابط هامة</h6>
                        <ul>
                            <li><a href="#">من نحن</a></li>
                            <li><a href="#">اتصل بنا</a></li>
                            <li><a href="#">المنتجات</a></li>
                            <li><a href="#">تسجيل حساب</a></li>
                            <li><a href="#">بيع عندنا</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">من نحن</a></li>
                            <li><a href="#">اتصل بنا</a></li>
                            <li><a href="#">المنتجات</a></li>
                            <li><a href="#">تسجيل حساب</a></li>
                            <li><a href="#">بيع عندنا</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>انضم لخدمة النشرة البريدية</h6>
                        <p>سوف تصلك رسالة بريدية بأحدث عروضنا ومنتجاتنا</p>
                        <form action="#">
                            <input type="text" placeholder="أكتب بريدك الالكتروني">
                            <button type="submit" class="site-btn">اشتراك</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> CCICREES All rights reserved.
                            </p>
                        </div>
                        <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="~/Scripts/js/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/jquery.nice-select.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/js/jquery.slicknav.js"></script>
    <script src="~/Scripts/js/mixitup.min.js"></script>
    <script src="~/Scripts/js/owl.carousel.min.js"></script>
    <script src="~/Scripts/js/main.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#txt_search").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/shop/GetCommodities",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            //alert('data:' + JSON.stringify(data));
                            response($.map(data, function (item) {
                                return { label: item.Title, value: item.Title };
                            }))

                        }
                    })
                },
                select: function (event, ui) {
                    var label = ui.item.label;
                    var value = ui.item.value;
                    //alert(value);
                    $('#SearchForm').submit();

                },
                messages: {
                    noResults: "",
                    results: function (count) {
                        return count + (count > 1 ? ' results' : ' result ') + ' found';
                    }
                }
            });
        })
    </script>
    <script>
        $(document).ready(function () {
            //$(".ui-menu-item-wrapper").click(function () {
            //    alert(0);
            //    $('#SearchForm').submit();
            //});
        });
    </script>
    @RenderSection("Scripts", false);

    <script>
        $(document).ready(function () {
            $('#myorders').DataTable();
        });
    </script>
    
</body>

</html>