@model PrimeMarket.Models.Commodity

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@*@Styles.Render("~/Content/themes/base/css", "~/Content/css")*@
<h3> تعديل السلع</h3>
<h4></h4>
@section scripts{  

<script>

       $("#CreationDate").datepicker();
       $("#ExpireDate").datepicker();
         clear();
</script>
}
<script type="text/javascript">

    function fileCheck(obj) {
        var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
        if ($.inArray($(obj).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            alert("Only '.jpeg','.jpg', '.png', '.gif', '.bmp' formats are allowed.");
        }
    };



</script>
<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("Edit", "Commodities", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
           
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.CommodityId)
                @*<div class="form-group row">
                        @Html.LabelFor(model => model.CategoryId, "المنتج الرئيسى", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("CategoriesList", null, htmlAttributes: new { @class = "form-control col-md-10" })
                            @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                        </div>
                    </div>*@
                @Html.HiddenFor(model => model.SellerId)
                @Html.HiddenFor(model => model.CreationDate)
                <div class="form-group row">
                    @Html.LabelFor(model => model.CategoryId, "المنتج الرئيسى", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                      
                        @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })


                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.SubCategoryId, "المنتج الفرعى", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("SubCategoryId",null, "اختر المنتج الفرعى", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SubCategoryId, "", new { @class = "text-danger" })

                        <input id="SelectedSubCategoryId" value='@ViewBag.SelectedSubCategoryId' type="hidden"/>
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Title, "اسم السلعة", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.Details, " تفاصيل السلعة", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Details, new { htmlAttributes = new { @class = "form-control" }, @style = "width:100%", @rows = "5" })
                        @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*<div class="form-group row">
                        @Html.LabelFor(model => model.SellerId, "البائع", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("SellerId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SellerId, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                <div class="form-group row">
                    @Html.LabelFor(model => model.Quantity, " الكمية", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", @style = "width:40%", @dir = "rtl" } })
                        @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.PriceUnitId, " وحدة السعر", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("PriceUnitId", null, htmlAttributes: new { @class = "form-control" })
                        @*@Html.EditorFor(model => model.PriceUnitId, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.PriceUnitId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.Price, " السعر/جنيه", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @style = "width:40%", @dir = "rtl" } })
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.PriceNote, " ملاحظات على السعر", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PriceNote, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PriceNote, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.Available, "الاتاحة", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Available)
                            @Html.ValidationMessageFor(model => model.Available, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                @*<div class="form-group row">
                        @Html.LabelFor(model => model.CreationDate, " تاريخ التنفيذ", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CreationDate, new { htmlAttributes = new { @class = "form-control", placeholder = "", @Id = "CreationDate", @style = "width:20%", @dir = "ltr" } })
                            @Html.ValidationMessageFor(model => model.CreationDate, "", new { @class = "text-danger" })
                        </div>
                    </div>*@


                <div class="form-group row">
                    @Html.LabelFor(model => model.ExpireDate, "تاريخ الانتهاء", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ExpireDate, new { htmlAttributes = new { @class = "form-control", placeholder = "", @Id = "ExpireDate", @style = "width:40%", @dir = "rtl" } })
                        @Html.ValidationMessageFor(model => model.ExpireDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                @if (ViewBag.IsUserAdmin)
                {

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Publish, "النشر", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.Publish)
                                @Html.ValidationMessageFor(model => model.Publish, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.IsFeatured, "سلعة مميزة", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @* @Html.EditorFor(model => model.IsFeatured)*@
                                @Html.CheckBoxFor(model => model.IsFeatured)
                                @Html.ValidationMessageFor(model => model.IsFeatured, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                }

                <div class="form-group row">
                    @Html.LabelFor(model => model.OriginalPrice, "السعر الاصلى", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.OriginalPrice, new { htmlAttributes = new { @class = "form-control", @style = "width:40%", @dir = "rtl" } })
                        @Html.ValidationMessageFor(model => model.OriginalPrice, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="تعديل" class="site-btn-be" />
                        @Html.ActionLink("عودة للسلع", "Index", null, new { @class = "site-btn-be" })
                    </div>
                </div>


            </div>
        }
    </div>
    <div class="col-md-4"></div>
</div>
<div>
  
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
//.log("Hello world!");
    $(document).ready(function () {
        $("#CategoryId").change(function () {
            $.get("/Commodities/getSubCategoryList", { CategoryId: $(CategoryId).val() }, function (data) {
                $("#SubCategoryId").empty();
                $.each(data, function (index, row) {                  
                    console.log($("#SelectedSubCategoryId").val());
                    if ($("#SelectedSubCategoryId").val() == row.SubCategoryId)
                        $("#SubCategoryId").append("<option value='" + row.SubCategoryId + "' selected>" + row.SubCategory1 + "</option>")
                    else
                        $("#SubCategoryId").append("<option value='" + row.SubCategoryId + "'>" + row.SubCategory1 + "</option>")

                   //$("#DistrictId").append()("<option value='" + row.DistrictId + "'>" + row.District1+"</option>")
                });
            });

        });
           });

</script>
