@using PagedList;
@using PagedList.Mvc;
@model IPagedList<PrimeMarket.Models.Commodity>

    @{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
    }
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <script type="text/javascript">


        function checkradio(id) {
            for (var i = 1; i <= 3; i++) {
                var id = 'check' + i;
                // alert(id);
                var t = document.getElementById(id);
                alert(t.id);
                if (id = i)
                    t.prop('checked', true);
                else
                    t.prop('checked', false);

              
            }
        }
    </script>
<center>
    <h2>السلع </h2>
</center>
    <p>
        @Html.ActionLink("تسجيل سلعة جديدة", "Create",null,new {@class= "glyphicon glyphicon-plus site-btn-be" })
    </p>
    @using (Html.BeginForm("Index", "Commodities", FormMethod.Get))
    {
    <div class="row">
        <div class="col-md-2">

            <b>بحث ب:  الحالة: </b>
        </div>
        <div class="col-md-2">

            <select asp-for="Publish" asp-items="Model.Commodity">
                <option value="1">الكل</option>
                <option value="2">تم نشرها</option>
                <option value="3">لم تنشر</option>
            </select><input type="submit" value="بحث" /><i class="fa icon_search icon"></i>
        </div><div class="col-md-8">
                  
  
</div>

        

</div>
    }
    <table id="Commoditiestbl" class="disply table-responsive">
    <thead>
        <tr>
            <th >
                اسم السلعة
                @*@Html.DisplayNameFor(model => model.First().Title)*@
            </th>
            @*<th>
                المنتج الرئيسى
               Html.DisplayNameFor(model => model.First().SubCategory)
            </th>*@
            <th>
                المنتج الفرعى
                @*@Html.DisplayNameFor(model => model.First().SubCategory)*@
            </th>
            <th>
               الكمية
                @*@Html.DisplayNameFor(model => model.First().Quantity)*@
            </th>
            <th></th>

        </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Category.Category1)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.SubCategory.SubCategory1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        <i class="large material-icons btn-default">
                            @Html.ActionLink("edit", "Edit", new { id = item.CommodityId }, new { @title = "تعديل ", @style = "color:gray" })
                        </i>
                        |
                        <i class="large material-icons ">
                            @Html.ActionLink("storage", "Details", new { id = item.CommodityId }, new { @title = "تفاصيل ", @style = "color:gray" })
                        </i> |
                        <i class="large material-icons"> @Html.ActionLink("delete", "Delete", new { id = item.CommodityId }, new { @title = "حذف ", @style = "color:#a50303" }) </i>
                        | @Html.ActionLink("الصور", "Index", "CommodityImages", new { CommodityId = item.CommodityId }, new { @class = "site-btn-be", @style = "font-size:10px !important; " })

                    </td>
                   
                </tr>
            }
        </tbody>
      
    </table>
<script src="~/bin/jquery.min.js"></script>
    @*@Html.PagedListPager(Model, page => Url.Action("Index", new { page, search = Request.QueryString["search"],@class="site-btn" }))*@
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#Commoditiestbl').DataTable({
                "language": {
                    "url": "/content/arabic.json"
                }
            });
        });
    </script>
}