@using PagedList;
@using PagedList.Mvc;
@model IPagedList<PrimeMarket.Models.Village>

@{
    ViewBag.Title = "Villagesfilter";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<br /><br />
<h2>القرى</h2>

<p>
  @*@if (Request["DistrictId"] != null)
  {
    @Html.ActionLink("اضافة قرية جديدة", "Create", new { DistrictId = Request["DistrictId"], GovernorateId = Request["GovernorateId"] }, new { @class = "site-btn-be" })
  }
  else
  {*@
    @Html.ActionLink("اضافة قرية جديدة", "Create", null, new { @class = "site-btn-be" })
  @*}*@
</p>
<table id="villagetbl" class="disply table-responsive">
    <thead>
        <tr>
            <th>
                المركز

            </th>
            <th>
                القرية/النجع

            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.District.District1)

                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.Village1)
                </td>
                <td>
                    <i class="large material-icons btn-default">
                        @Html.ActionLink("edit", "Edit", new { id = item.VillageId }, new { @title = "تعديل ", @style = "color:gray" })
                    </i>
                    |
                    <i class="large material-icons ">
                        @Html.ActionLink("storage", "Details", new { id = item.VillageId }, new { @title = "تفاصيل ", @style = "color:gray" })
                    </i> |
                    <i class="large material-icons"> @Html.ActionLink("delete", "Delete", new { id = item.VillageId }, new { @title = "حذف ", @style = "color:#a50303" }) </i>
                </td>

            </tr>
        }
    </tbody>
</table>
@*@Html.PagedListPager(Model, page => Url.Action("Villagesfilter", new { page, @class="site-btn-be" }))*@
<div>
   
   
@Html.ActionLink("عودة للمراكز", "Index", "Districts",null, new { @class = "site-btn-be" })



  
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#villagetbl').DataTable({
                "language": {
                    "url": "/content/arabic.json"
                }
            });
        });
    </script>
}