@using PagedList;
@using PagedList.Mvc;
@model IPagedList<PrimeMarket.Models.Village>

@{
    ViewBag.Title = "Villagesfilter";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
<br /><br /><br />
<h2>القرى</h2>

<p>
  @if (Request["DistrictId"] != null)
  {
    @Html.ActionLink("اضافة قرية جديدة", "Create", new { DistrictId = Request["DistrictId"], GovernorateId = Request["GovernorateId"] })
  }
  else
  {
    @Html.ActionLink("اضافة قرية جديدة", "Create", new { DistrictId = 1, GovernorateId = Request["GovernorateId"] })
  }
</p>
<table class="table">
    <tr>
        <th>القرية/النجع
            @*@Html.DisplayNameFor(model => model.First().Village1)*@
        </th>
        <th>المركز
            @*@Html.DisplayNameFor(model => model.First().District.District1)*@
        </th>
     
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            
            @Html.DisplayFor(modelItem => item.Village1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.District.District1)
           
        </td>
        <td>
            @Html.ActionLink("تعديل", "Edit", new { id=item.VillageId, GovernorateId = Request["GovernorateId"] }) |
            @Html.ActionLink("تفاصيل", "Details", new { id=item.VillageId, GovernorateId = Request["GovernorateId"] }) |
            @Html.ActionLink("حذف", "Delete", new { id=item.VillageId, GovernorateId = Request["GovernorateId"] })
        </td>
    </tr>
}

</table>
@Html.PagedListPager(Model, page => Url.Action("Villagesfilter", new { page, DistrictId = Request["DistrictId"], GovernorateId = Request["GovernorateId"] }))
<div>

    @*@Html.RouteLink("عودة للمراكز", "Districts","Districtfilter", new { GovernorateId = Request["GovernorateId"] })*@

   @Html.RouteLink("عودة للمراكز", "Default", new { Controller = "Districts", Action = "Districtfilter", GovernorateId = Request["GovernorateId"] });
</div>