@model PrimeMarket.Models.UIViewModel.CartViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}

<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="shoping__product">Products</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ double CartTotal = 0.0;}
                            @foreach (var item in Model.cartItems)
                            {
                            <tr>
                                <td class="shoping__cart__item">
                                    <img src="@item.Commodity.CommodityImages.FirstOrDefault().ImagePath" alt="">
                                    <h5>@item.Commodity.Title</h5>
                                </td>
                                <td class="shoping__cart__price">
                                    @item.Commodity.Price LE
                                </td>
                                <td class="shoping__cart__quantity">
                                    <div class="quantity">
                                        <div class="pro-qty">
                                            <input type="text" id="txt_Quantity" name="txt_Quantity" value="@item.Quantity">
                                        </div>
                                    </div>
                                </td>
                                <td class="shoping__cart__total">
                                    @{
                                        var itemTotal = item.Commodity.Price * item.Quantity;
                                        CartTotal += (double)itemTotal;
                                        }
                                      @itemTotal LE
                                          </td>
          
                                          <td class="shoping__cart__item__close">
                                              <input type="hidden" id="hdn_CartId" name="hdn_CartId" value="@item.CartId" />
                                    <span class="icon_close"></span>
                                </td>
                            </tr>
                            }
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <a href="#" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                    <a href="#" class="primary-btn cart-btn cart-btn-right">
                        <span class="icon_loading"></span>
                        Upadate Cart
                    </a>
                </div>
            </div>
            @*<div class="col-lg-6">
                <div class="shoping__continue">
                    <div class="shoping__discount">
                        <h5>Discount Codes</h5>
                        <form action="#">
                            <input type="text" placeholder="Enter your coupon code">
                            <button type="submit" class="site-btn">APPLY COUPON</button>
                        </form>
                    </div>
                </div>
            </div>*@
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>Cart Total</h5>
                    <ul>
                        <li>Subtotal <span>@CartTotal LE</span></li>
                        <li>Total <span>@CartTotal LE</span></li>
                    </ul>
                    <a href="#" class="primary-btn">PROCEED TO CHECKOUT</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shoping Cart Section End -->
@section Scripts{
<script src="~/Content/SiteScripts/Cart.js"></script>
    }


